<h1>Search Component</h1>
<div>
    <div>
        <label for="">Search for: </label>
        <input type="text" (keyup)="searchStringChangeHandler($event)" />
    </div>
    <br>
    <input type="radio" name="search_type" value="Google" (change)="searchTypeChangeHandler($event)"/> Google
    <input type="radio" name="search_type" value="Bing" (change)="searchTypeChangeHandler($event)"/> Bing
    <input type="radio" name="search_type" value="Yandex" (change)="searchTypeChangeHandler($event)"/> Yandex
</div>
